<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.priority}}</span>
    <h3>{{hero.name}}</h3>
    <span  *ngIf="hero.priority> -1" >This Log has an issue.</span>
    <dl>
      <dt>HexID</dt>
      <dd>{{hero.hexid}}</dd>
      <dt>Base64Id</dt>
      <dd>{{hero.base64id}}</dd>
    </dl>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
